.avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.sm{
    width: 50px;
    height: 50px;
}
.md{
    width: 70px;
    height: 70px;
}
.lg{
    width: 100px;
    height: 100px;
}
.square{
    border-radius: 5px;
}