.round-img{
    border-radius:50%;
    width: 150px;
    height: 150px;
}
.square-img{
    border-radius:10px;
    width: 150px;
    height: 150px;
}
.res-img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.container{
    position: relative;
    left: 10%;
    width: 60%;
}