.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
.i-text{
    padding: 0.5rem;
    border: 1px solid rgb(167, 167, 167);
}
.i-text:focus {
    outline: 1px solid rgb(187, 197, 209);
}
.err{
    color: red;
}
.i-error {
    border:0;
    outline: 1px solid rgb(238, 65, 65);
}
.i-error:focus {
    border:0;
    outline: 1px solid rgb(238, 65, 65);
}
.radio{
    vertical-align: baseline;
    display: flex;
    gap: 0.625rem;
}