* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    /* background-color: rgb(199, 131, 28); */
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1.5rem;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}
.logo{
    width: 100px;
}
.navbar>ul>li {
    list-style-type: none;
    display: inline-block;
    padding: 0 0.5rem;
    
}
.navbar>ul>li>a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
}
.navbar>ul:hover>li {
    opacity: 0.4;
}
.navbar>ul:hover>li:hover {
    opacity: 0.8;
}