.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: 100%;
}
.i-text{
    padding: 0.5rem;
    border: 1px solid rgb(167, 167, 167);
}
.i-text:focus {
    outline: 1px solid rgb(187, 197, 209);
}
.err{
    color: red;
}
.i-error {
    border:0;
    outline: 1px solid rgb(238, 65, 65);
}
.i-error:focus {
    border:0;
    outline: 1px solid rgb(238, 65, 65);
}
.radio {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.radio > label>input{
    margin: 0 0.5rem;
}
.disabled {
    cursor: not-allowed;
}
.checkbox {
    display: flex;
    gap: 2rem;
}
.checkbox > label>input{
    margin: 0 0.5rem;
}
