.main-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    gap: 1rem;
}
.example-container {
    padding: 1rem;
    background-color: var(--div-background-color);
    border-radius: 0.31rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    position: relative;
    flex-wrap: wrap;

}
.example-vertical {
    display: flex;
    flex-direction: column;
}
.example-code-container {
    margin: 1.5rem 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.main-wrapper > p{
    padding: 0.6rem 0 1rem;
}
.main-wrapper > img {
    padding: 0.6rem 0 1rem 0;
}
.side-bar {
    flex: 0 0 15rem;
}
.intro-text {
    font-size: 1rem;
    line-height: 2rem;
    padding: 1rem 0;
}
.section-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.section-footer > a {
    text-decoration: none;
    color: inherit;
}
.footer-icon {
    padding:0 0.3rem;
    font-size: 1rem;
}
.color-box {
    width: 8rem;
    height: 8rem;
    text-align: center;
}
.example-code-container > iframe {
    width: 100%; 
    height: max-content; 
    border:0; 
    transform: scale(1);
     overflow:auto;
}
.h3 {
    padding: 1rem 0 ;
}
.lists {
    margin: 0 0 1.5rem 0;
}

/* responsive css starts here */

@media only screen and (max-width:900px){
    .side-bar {
        display: none;
    }
    .example-code-container {
        display: none;
    }
    .main-container {
        width: 90%;
        padding: 1rem;
        gap: 1rem;
    }
    .navbar-doc {
        padding: 1rem;
    }
    .h2 {
        font-size: 1.8rem;
        line-height: 2.25rem;
        font-weight: bold;
    }
    .h3 {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: bold;
        padding: 1rem 0 0 0;
    }
}
.conclusion-link {
    color: var(--primary-color-blue);
}
.conclusion-hr-link {
    margin: 1rem 0;
}
@media only screen and (max-width:721px){
    .side-bar {
        display: none;
    }
    .example-code-container {
        display: none;
    }
    .main-container {
        width: 90%;
        padding: 1rem;
        gap: 1rem;
    }
    .navbar-doc {
        padding: 1rem;
    }
    .navbar-doc > ul >li {
        display: inline-block;
        padding: 0 0.8rem;
    }
    .main-wrapper > p{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 300;
    }
    .h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .h3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: bold;
        padding: 0.5rem 0 0 0;
    }
}

@media only screen and (max-width:410px){
    .side-bar {
        display: none;
    }
    .example-code-container {
        display: none;
    }
    .main-container {
        width: 90%;
        padding: 1rem;
        gap: 1rem;
    }
    .navbar-doc {
        padding: 1rem;
    }
    .navbar-doc > ul >li {
        display: inline-block;
        padding: 0 0.8rem;
    }
    .main-wrapper > p{
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .h2 {
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: bold;
    }
    .h3 {
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: bold;
        padding: 0.5rem 0 0 0;
    }
}
