
.btn{
    padding:  1rem;
    text-transform: capitalize;
    min-width: 4rem;
    height: max-content;
    border: 0;
    border-radius: 0.31rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    margin: 0 0.3rem;
}

.btn:hover {
    opacity: 0.8;
}

/* container button 
with icons */

.btn-icon {
    font-size:1rem;
    padding: 0 0.5rem;
}

/* outlined button */

.outlined-primary {
    background-color: transparent;
    color: var(--alert-primary);
    border: 1px solid var(--alert-primary);
}
.outlined-error {
    background-color: transparent;
    color: var(--alert-error);
    border: 1px solid var(--alert-error);
}
.outlined-success {
    background-color: transparent;
    color: var(--alert-success);
    border: 1px solid var(--alert-success);
}
.outlined-warning {
    background-color: transparent;
    color: var(--alert-warning);
    border: 1px solid var(--alert-warning);
}

.outlined:hover {
    border: 1px solid var(--outlined-btn-hover);
    opacity: 1;
}
.outlined:active {
    background-color:var(--outlined-btn-active);
}
/* text only button */

.btn-text {
     border: transparent;
     background-color: transparent;
     color: var(--primary-color-blue);
}
.btn-text:hover {
    background-color: var(--text-btn-hover);
}
.btn-text:active {
    background-color:var(--outlined-btn-active);
}

/* button link */

.btn-link{
    text-decoration: none;
    color: inherit;
    
}


/* floating action buttons */

.btn-icon-fab{
    font-size: 1.5rem;
}
.btn-fab{
    border: 0;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.btn-fab:hover {
    background-color: var(--primary-color-orange);
}
.btn-fab:active {
    background-color:  var(--primary-color-orange);
}
    /* fab mini */
.btn-icon-fab-mini {
    font-size: 1rem;
}
.mini {
    padding: 0.5rem;
    
}
.mini:hover {
    background-color:  var(--primary-color-orange);
}
.mini:active {
    background-color:  var(--primary-color-orange);
}

/* fab button extended */
.btn-Nicon-fab-extended{
    display: none;
}
.extended {
    border-radius: 999rem;
   
}
.extended:hover {
    background-color:  var(--primary-color-orange);
}

.extended:active {
    background-color:  var(--primary-color-orange);
}


/* fab button extended with icon */

.btn-icon-fab-extended{
    padding: 0 0.8rem 0 0;
}

.disabled {
    cursor: not-allowed;
    opacity: 1;
}
.disabled:hover {
    opacity: 0.8;
}

/* alert classes starts here */

.primary{
    background-color:var(--alert-primary);
    color: var(--text-color-whitesmoke);
}
.error{
    background-color:var(--alert-error);
    color: var(--text-color-whitesmoke);
}
.success{
    background-color:var(--alert-success);
    color: var(--text-color-whitesmoke);
}
.warning{
    background-color:var(--alert-warning);
    color: var(--text-color-whitesmoke);
}