<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../getting_started/intro.css" />
    <title>Button</title>
</head>
<body>
    <header>
        <nav class="navbar-doc">
            <h2 class="nav-title">RAGA UI</h2>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../getting_started/intro.html">Docs</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-container">
        <aside class="side-bar">
            <ul class="lists">
                <p class="list-title">Getting Started</p>
                <li><a href="../../getting_started/intro.html">Introduction</a></li>
                <li><a href="../../getting_started/color.html">Colors</a></li>
                <li><a href="../../getting_started/typography-doc.html">Typography</a></li>
                <li><a href="../../getting_started/conclusion.html">Conclusion</a></li>
            </ul>
            <ul class="lists">
                <p class="list-title">Components</p>
                <li><a href="../avatar/Avatar.html">Avatar</a></li>
                <li><a href="../alert/alert.html">Alert</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a href="button.html">Button</a></li>    
                <li><a href="../cards/cards.html">Card</a></li>
                <li><a href="../imag/image.html">Image</a></li>
                <li><a href="../input/input.html">Input</a></li>
                <li><a href="../lists/lists.html">List</a></li>
                <li><a href="#">Modal</a></li>
                <li><a href="../navbar/navbar.html">Nav-bar</a></li>
                <li><a href="../ratings/ratings.html">Rating</a></li>
                <li><a href="../snackbar/snackbar.html">Toast</a></li>
                <li><a href="../typography/typography.html">Utilities</a></li>
            </ul>
        </aside>
        <section class="main-wrapper">
            
                <p class="h2">Button</p>
                <p class="intro-text">Buttons are the soul of an interactive Web Application. Buttons allow users to take actions, and make choices, with a single tap.</p>
                <hr/>
                <p class="h3">Contained Button</p>
                <p>Contained buttons are high-emphasis, distinguished by their use of elevation and fill. They contain actions that are primary to your app.</p>
                <div class="example-container">
                    <button class="btn">Default</button>
                    <button class="btn primary">Primary</button>
                    <button class="btn error">Error</button>
                    <button class="btn success">Success</button>
                    <button class="btn warning">Warning</button>
                </div>
                <img src="../../images_docs/button1.PNG" class="res-img " alt="header link"/>
                <hr/>
                <p class="h3">Outlined Button</p>
                <p>Outlined buttons are medium-emphasis buttons. They contain actions that are important, but aren’t the primary action in an app.</p>
                <div class="example-container">
                    <button class="btn outlined-primary">Primary</button>
                    <button class="btn outlined-error">Error</button>
                    <button class="btn outlined-success">Success</button>
                    <button class="btn outlined-warning">Warning</button>
                </div>
                <img src="../../images_docs/button2.PNG" class="res-img " alt="header link"/>
                <hr/>

                <p class="h3">Link Button</p>
                <p>Link buttons can be used to style anchor tags with more emphasis on action.</p>
                <div class="example-container">
                    <button class="btn primary"><a href="#" class="btn-link">Link Button</a></button>
                </div>
                <img src="../../images_docs/button3.PNG" class="res-img " alt="header link"/>
                <hr/>
                <p class="h3">Icon Button</p>
                <p>Icon Buttons can be created, by using a SVG as a child to parent button. Use the 'btn' class followed by 'btn-icon'.</p>
                <div class="example-container">
                    <button class="btn primary"><i class="fas fa-cart-plus btn-icon"></i>Add to cart</button>

                </div>
                <img src="../../images_docs/button3.PNG" class="res-img " alt="header link"/>
                <hr/>
                <p class="h3">Text Button</p>
                <p>Text buttons are typically used for less-pronounced actions, including those located:</p>
                <div class="example-container">
                    <button class="btn btn-text">Learn More</button>

                </div>
                <img src="../../images_docs/button4.PNG" class="res-img " alt="header link"/>
                <hr/>

                <p class="h3">Floating Action Button</p>
                <p>A floating action button (FAB) represents the primary action of a screen.</p>
                <div class="example-container">
                    <button class="btn-fab primary"><i class="fas fa-plus .btn-icon-fab"></i></button>

                </div>
                <img src="../../images_docs/button5.PNG" class="res-img " alt="header link"/>
                <hr/>

                <p class="h3">Disabled Button</p>
                <p>Disable button is a restricted click button.</p>
                <div class="example-container">
                    <button class="btn disabled">Click Me!</button>

                </div>
                <img src="../../images_docs/button6.PNG" class="res-img " alt="header link"/>
                <hr/>





                <div class="section-footer">
                    <a href="intro.html" ><i class="fas fa-less-than footer-icon"></i>Alert</a>
                    <a href="color.html" >Badge<i class="fas fa-greater-than footer-icon"></i></a>
                </div>
        </section>
    </main>
</body>
</html>