.rating{
    margin : 0 0.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
}
.rating:hover {
    color: var(--primary-color-orange);
}
.rating-sm{
    margin : 0 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}
.rating-lg{
    margin : 0 0.2rem;
    font-size: 2rem;
    cursor: pointer;
}

.rating-sm:hover {
    color: var(--primary-color-orange);
}
.rating-lg:hover {
    color: var(--primary-color-orange);
}