
/* nav bar css starts from here */

.navbar {
    width: 100%;
    margin: auto;
    background-color: transparent;
    align-items: center;
    position: relative;
    display: flex;
    gap: 0.5rem
}

.navbar-logo {
    display: flex;
    align-items: baseline;
    color: var(--primary-color-main);
}
.navbar-search {
    position: relative;

}
.navbar-cart {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
a {
    text-decoration: none;
    color: inherit;

}
.i-text {
    padding: 0.5rem 0 0.5rem 3rem;
    border-radius: 0.3rem;
    width: 20rem;
}
.search-icon {
    position: absolute;
    top: 30%;
    left: 1rem;
    color: inherit;
}
.nav-icon {
    font-size: 1.5rem;
    padding: 0 0.3rem;
    cursor: pointer;
}
.btn {
    padding: 0.5rem 1rem;
}
.primary-main {
    background-color: var(--primary-color-main);

}
.nav-logo {
    padding: 0 0.5rem 0 0;
}