
.lists {
    list-style-type: none;
    line-height:1.5rem;
    width: 240px;
    background-color: var(--white-color);

}
ul.lists>li {
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-size: 1rem;

}
.lists>li>a:hover {
    color: var(--text-hover-primary);
    
}
.lists>li>a {
    text-decoration: none;
    color: inherit;
}
.lists>li> ul> li> a:hover {
    color: var(--text-hover-primary);
    
}
.list-title{
    padding: 0.6rem 1rem;
    border-bottom: 1px solid var(--border-color-white);
    font-weight: 700;
}
.list-nested {
    list-style-type: none;
}
ul.list-nested > li {
    padding: 0.6rem 1rem 0 1rem;

}

.check-lists {
    list-style-type: none;
    margin: 1rem;
    line-height:1.5rem;
    width: 15rem;
    border: 1px solid var(--border-color-white);
    background-color: var(--white-color);
}
.check-lists li {
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}
.check-lists > li > input {
    margin: 0 0.7rem 0 0;
}
