.round-img {
    border-radius:50%;
    width: 9.3rem;
    height: 9.3rem;
    object-fit: cover;
}
.square-img {
    border-radius:0.6rem;
    width: 9.3rem;
    height: 9.3rem;
    object-fit: cover;
}
.res-img {
    height: auto;
    width: 100%;
    object-fit: cover;
}
