<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../getting_started/intro.css" />
    <title>Lists</title>
</head>
<body>
    <header>
        <nav class="navbar-doc">
            <h2 class="nav-title">RAGA UI</h2>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../getting_started/intro.html">Docs</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-container">
        <aside class="side-bar">
            <ul class="lists">
                <p class="list-title">Getting Started</p>
                <li><a href="../../getting_started/intro.html">Introduction</a></li>
                <li><a href="../../getting_started/color.html">Colors</a></li>
                <li><a href="../../getting_started/typography-doc.html">Typography</a></li>
                <li><a href="../../getting_started/conclusion.html">Conclusion</a></li>
            </ul>
            <ul class="lists">
                <p class="list-title">Components</p>
                <li><a href="../avatar/Avatar.html">Avatar</a></li>
                <li><a href="../alert/alert.html">Alert</a></li>
                <li><a href="../badge/badge.html">Badge</a></li>
                <li><a href="../button/button.html">Button</a></li>    
                <li><a href="../cards/cards.html">Card</a></li>
                <li><a href="../imag/image.html">Image</a></li>
                <li><a href="../input/input.html">Input</a></li>
                <li><a href="lists.html">List</a></li>
                <li><a href="#">Modal</a></li>
                <li><a href="../navbar/navbar.html">Nav-bar</a></li>
                <li><a href="../ratings/ratings.html">Rating</a></li>
                <li><a href="../snackbar/snackbar.html">Toast</a></li>
                <li><a href="../typography/typography.html">Utilities</a></li>
            </ul>
        </aside>
        <section class="main-wrapper">
            
                <p class="h2">List</p>
                <p class="intro-text">Lists are continuous, vertical indexes of text or images. They are composed of items containing primary and supplemental actions, which are represented by icons and text.</p>
                <hr/>
                <p class="h3">Simple List Groups</p>
                <p>Simple lists are stacked list of items aligned vertically</p>
                <div class="example-container">
                    <ul class="lists">
                        <p class="list-title">Menu components</p>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <img src="../../images_docs/lists1.PNG" class="res-img " alt="header link"/>
                <hr/>
                <p class="h3">Nested List Groups</p>
                <p>Nested lists form sub lists forming a group on a nested list</p>
                <div class="example-container">
                    <ul class="lists">
                        <p class="list-title">Menu components</p>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a>
                            <ul class="list-nested">
                                <li><a href="#">Watch</a></li>
                                <li><a href="#">Wallet</a></li>
                                <li><a href="#">Windows</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <img src="../../images_docs/lists2.PNG" class="res-img" alt="header link"/>
                <hr/>

                <p class="h3">Select List Groups</p>
                <p>Select List groups contains items with checkboxes. They are useful for refining the products search on an eCommerce website.</p>
                <div class="example-container">
                    <ul class="check-lists">
                        <p class="list-title">Refine Search by</p>
                        <li><input type="checkbox"/>Brand</li>
                        <li><input type="checkbox"/>Price</li>
                        <li><input type="checkbox"/>Popularity</li>
                    </ul>
                </div>
                <img src="../../images_docs/list3.PNG" class="res-img " alt="header link"/>
                <hr/>
                
                <div class="section-footer">
                    <a href="intro.html" ><i class="fas fa-less-than footer-icon"></i>Alert</a>
                    <a href="color.html" >Badge<i class="fas fa-greater-than footer-icon"></i></a>
                </div>
        </section>
    </main>
</body>
</html>